<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>

	<div class="container">
		<h1>Edicion de carrera</h1>

		<div class="card">
			<div class="card-header">Edición</div>
			<div class="card-body">

				<form th:action="@{/carrera/grabar}" th:object="${carrera}" method="post">
					<div class="form-group">
						<label for="nombre">Nombre :</label> 
						<input type="text" class="form-control" id="nombre" name="nombre"
							placeholder="Ingrese nombre carrera" th:value="${carrera.nombre}"> 
					</div>
					<button type="submit" class="btn btn-primary">Guardar</button>
					<a th:href="@{/carrera/listado}" class="btn btn-danger">Cancelar</a>
				</form>

			</div>
		</div>

	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>