<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>

	<div class="container">

		<div class="card text-center">
			<div class="card-header">Tiendas</div>
			<div class="card-body">
				<h5 class="card-title">Tiendas asociadas</h5>
				
				<div th:if="${param.error != null}" class="alert alert-danger" role="alert">
  					<span th:text="${param.error}">mensaje</span>
				</div>
				<div th:unless="${param.error}" class="alert alert-info" role="alert">
  					<span th:text="${param.error}">mensaje</span>
				</div>

				<table class="table table-striped">
					<thead>
						<tr>
							<th scope="col">Id</th>
							<th scope="col">Nombre</th>
						</tr>
					</thead>
					<tbody th:each="tienda : ${tiendas}">
						<tr>
							<th scope="row" th:text="${tienda.id}"></th>
							<td th:text="${tienda.nombre}"></td>
							<td>Otto</td>
							<td>
								<a th:href="@{'/tienda/edit/' + ${tienda.id}}" class="btn btn-info"> <i class="fas fa-edit"></i> </a>
								<a th:href="@{'/tienda/delete/' + ${tienda.id}}" class="btn btn-danger"> <i class="fas fa-trash-alt"></i> </a>
							</td>
						</tr>
					</tbody>
				</table>


			</div>
			<div class="card-footer text-muted">
				<a th:href="@{/tienda/nuevo}" class="btn btn-primary">Nuevo</a>
			</div>
		</div>


	</div>

	<footer th:replace="layout/layout :: footer">
	
	</footer>
</body>
</html>